[v-cloak] {
  display: none;
}

div.thudboard tr td {
  background-color: #ffffff;
}

div.thudboard tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
  background-color: #bfbfbf;
}

div.thudboard th,td {
  width: 32px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
}
