[v-cloak] {
  display: none;
}

div.thudboard tr td {
  background-color: #ffffff;
  cursor: default;
  font-weight: bold; /* not sure about this */
}

div.thudboard tr td.absent {
  visibility: hidden;
}

div.thudboard tr th~td:not(.absent) {
  border-left: 1px solid #bfbfbf;
}

div.thudboard tr td:last-child {
  border-right: 1px solid #bfbfbf;
}

div.thudboard tr:first-child td:not(.absent) {
  border-top: 1px solid #bfbfbf;
}

div.thudboard tr:last-child td {
  border-bottom: 1px solid #bfbfbf;
}

div.thudboard tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
  background-color: #bfbfbf;
}

div.thudboard th,td {
  width: 32px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
}

div.thudboard tr td.selectable {
  cursor: pointer;
  color: lightgreen;
  text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px darkgreen;
}

div.thudboard tr td.selected {
  color: lightblue;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

div.thudboard tr td.selectable.isattack {
  color: pink;
  text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: lightgreen;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px darkgreen;
}

.isattack .dot {
  height: 10px;
  width: 10px;
  background-color: pink;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
}

div.status {
  text-align: center;
  font-weight: bold;
  font-size: large;
}
